extends layout 

block content
  section.section
    div.container
      h1.title Registrar
      form(action='/users/registrar' method='post')
        div.field
          label.label(for='username') Nome de Usuário
          div.control
            input.input(type='text' id='username' name='username' placeholder='Nome de Usuário' required)
        div.field
          label.label(for='password') Senha
          div.control
            input.input(type='password' id='password' name='password' placeholder='Senha' required)
        div.field
          div.control
            button.button.is-primary(type='submit') Registrar
        p
          a(href='/users/logar') Logar
